<div class="whole-wrap">
  <div class="container">
    <div class="col-8 mx-auto my-5">
      <form [formGroup]="form">
        <!-- 上傳圖片區 -->
        @if (!this.photoList[this.coverIndex]) {
        <div class="mb-3">
          <label class="border rounded-2 border-2 border-dashed p-4 text-center d-block upload-label"
            style="cursor: pointer;">

            點擊上傳圖片 <i class="bi bi-images"></i>

            <input type="file" (change)="onFileSelected($event)" accept="image/*" class="visually-hidden" multiple>
          </label>
        </div>
        }
        @else {
        <div class="mb-3">
          <div class="custom-slider-container">
            <div class="main-display cover-upload-container">
              <img [src]="photoList[selectedIndex]" class="fade-in">
              @if (selectedIndex === coverIndex) {
              <a class="genric-btn info radius set-cover-btn">封面</a>
              }
              @else {
              <a (click)="selectCover()" class="genric-btn info-border radius set-cover-btn">設定為封面</a>
              }
            </div>
            <div class="thumb-nav">
              <!-- 封面 -->
              <div class="thumb-item" [class.active]="coverIndex === selectedIndex" (click)="setIndex(coverIndex)">
                <img [src]="photoList[coverIndex]">
              </div>
              <span class="border-end border-2"></span>
              <!-- 其他圖片 -->
              @for (img of photoList; track $index) {
              @if($index != coverIndex){
              <div class="thumb-item" [class.active]="$index === selectedIndex" (click)="setIndex($index)">
                <img [src]="img">
              </div>
              }
              }
              <!-- 新增按鈕 -->
              <label
                class="thumb-UpdatePhoto-item border rounded-2 border-2 border-dashed text-center d-block upload-label"
                style="cursor: pointer;">
                上傳更多圖片 <i class="bi bi-images"></i>
                <input type="file" (change)="onFileSelected($event)" accept="image/*" class="visually-hidden">
              </label>
            </div>
          </div>
        </div>
        }


        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">文章標題</label>
          <input type="email" class="form-control" formControlName="title" placeholder="請輸入標題">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">文章內文</label>
          <textarea class="form-control" formControlName="content" placeholder="請輸入內文" rows="3"></textarea>
        </div>
        <div class="single-element-widget">
          <label for="exampleFormControlTextarea1" class="form-label">文章權限:</label>
          <div class="default-select">
            <select formControlName="status" id="status-select">
              <option [value]="0"><i class="bi bi-lock-fill"></i>私人</option>
              <option [value]="1"><i class="bi bi-globe-asia-australia"></i>公開</option>
              <option [value]="2"><i class="bi bi-suit-heart-fill"></i>粉絲</option>
            </select>
          </div>
        </div>

      </form>



      <a href="#" class="genric-btn danger-border radius">刪除文章</a>
      <a (click)="onCreat()" class="genric-btn info radius">儲存文章</a>

      <a class="genric-btn success circle">測試用</a>

    </div>
  </div>
</div>