<!-- 發布文章按鈕與彈窗-->
<!-- Button trigger modal -->
<button type="button" class="float-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa fa-plus"></i>
  <span class="btn-text">發布文章</span>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="ri-edit-box-fill"></i> 請選擇發布文章類型：</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <button class="my-btn" data-bs-dismiss="modal" aria-label="Close" (click)="goToCreatePost()"><i
              class="ri-pencil-line"></i>
            <p>快速發文</p>
          </button>
          <button class="my-btn" data-bs-dismiss="modal" aria-label="Close" (click)="goToCreateBlog()"><i
              class="ri-ball-pen-line"></i>
            <p>部落格</p>
          </button>
          <button class="my-btn" data-bs-dismiss="modal" aria-label="Close"><i class="ri-quill-pen-ai-line"></i>
            <p>手帳簿</p>
          </button>
          <button class="my-btn" data-bs-dismiss="modal" aria-label="Close"><i class="ri-multi-image-fill"></i>
            <p>圖集</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>