<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="row align-items-center">

        <!-- 左上角 (Visit Us 等) 保持不變 -->
        <div class="col-lg-6 col-sm-6 col-6 header-top-left">
          <!-- <ul>
            <li><a href="#">Visit Us</a></li>
            <li><a href="#">Buy Tickets</a></li>
          </ul> -->
        </div>

        <div class="col-lg-6 col-sm-6 col-6 header-top-right text-end">

          <ng-container *ngIf="!isLoggedIn">
            <a routerLink="/login" class="text-dark text-decoration-none fw-bold ms-3" style="font-size: 14px;">
              <i class="bi bi-box-arrow-in-right me-1"></i> 登入
            </a>
            <span class="text-dark mx-2 opacity-50">|</span>
            <a routerLink="/register" class="text-white text-decoration-none fw-bold" style="font-size: 14px;">
              <i class="fa fa-user-plus me-1"></i> 註冊會員
            </a>
          </ng-container>

          <ng-container *ngIf="isLoggedIn">
            <a routerLink="/profile" class="text-primary text-decoration-none fw-bold ms-3" style="font-size: 14px;">
              <i class="bi bi-person-circle me-1"></i> 歡迎你! {{ userName }}
            </a>
          </ng-container>

        </div>

      </div>
    </div>
  </div>

  <!-- 下半部 main-menu (Logo 與所有導覽列) 完全保留不變 -->
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo" class="col-4 ms-3">
        <a href="index.html"><img src="assets/img/網站logo.png" style="height: 60px;" title="" /></a>
      </div>
      <nav id="nav-menu-container" class="col-6">
        <ul class="nav-menu">
          <li><a href="index.html">首頁</a></li>
          <li><a routerLink="/attractions">觀光景點</a></li>
          <li><a routerLink="/ActivityInfo">活動一覽</a></li>
          <li class="menu-has-children"><a routerLink="itinerary">建立規劃</a>
            <ul>
              <li><a routerLink="Itinerarylist">查看我的行程</a></li>
            </ul>
          </li>
          <li><a routerLink="tripProduct">套裝行程商品</a></li>
          <li class="menu-has-children"><a routerLink="Board">文章討論</a>
            <ul>
              <li><a routerLink="Board">所有文章</a></li>
              <li><a href="blog-single.html">已追蹤創作者</a></li>
              <li><a href="Board/Main">個人主頁</a></li>
            </ul>
          </li>
          <li><a routerLink="Shoppingcart"><i class="bi bi-cart3 fs-4"></i> <span
                *ngIf="(cartService.cartCount$ | async) as count"
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ count > 99 ? '99+' : count }}
              </span></a></li>
          <!-- ... 其他選單略 ... -->
        </ul>
      </nav>
    </div>
  </div>
</header>