<!-- 文章列起點 -->
<div class="my-container col-6">
  @for (article of articleList; track $index) {<div class="single-post border-bottom">
    <!-- 作者 + 地點 -->
    <div class="post-author-row">
      <div class="author-info" (click)="goToMemderPage(article.userID)">
        <img class="userAvatar" [src]="article.userAvatar">
        <div>
          <div class="author-name">{{article.userName}}</div>
          <div class="author-date">
            {{article.createdAt | date:'M月d日 y年':'zh-Hant'}}
          </div>
        </div>
      </div>
      <div class="post-location">
        <i class="ri-map-pin-line"></i>{{article.regionName}}
        <button class="btn-more" data-bs-toggle="dropdown" aria-expanded="false"><i class="ri-more-2-fill"></i></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">分享貼文</a></li>
          <li><a class="dropdown-item" href="#">複製留言</a></li>
          @if(true){
          <!-- Angular 裡綁定 data-* 屬性要用 [attr.屬性名稱] -->
          <li><a data-bs-toggle="modal" data-bs-target="#ReportBackdrop" (click)="openReport(article)"
              class="dropdown-item">檢舉</a></li>
          }
          @else {

          }
        </ul>
      </div>

    </div>

    <!-- 大圖，無圓角 -->
    <div class="post-cover">
      <img [src]="article.photoUrl" (click)="goToDetail(article.articleId)">
    </div>
    <!-- 標題 -->
    <a class="posts-title" (click)="goToDetail(article.articleId)">
      <h3>
        <span class="post-type">討論</span>
        {{article.title}}
      </h3>
    </a>
    <!-- 底列：讚 留言 -->
    <div class="post-footer">
      <!-- 標籤 -->
      @if(article.tags && article.tags.length > 0){
      <div class="tags">
        <span>相關標籤:</span>
        @for (tag of article.tags; track tag.tagId) {
        <button class="tag-btn" (click)="seachTag(tag.tagId)">
          <i [class]="tag.icon"></i>&nbsp;{{tag.tagName}}
        </button>
        }

      </div>
      }@else {<span></span>}

      <!-- 讚 留言 -->
      <div class="post-reactions">
        <a class="reaction-item" [class.liked]="article.isLike" (click)="ToLike(article.articleId)">
          <i [class]="article.isLike ? 'fa-solid fa-thumbs-up' : 'fa-regular fa-thumbs-up'"></i>
          {{article.likeCount}}
        </a>
        <a class="reaction-item" href="#">
          <span class="lnr lnr-bubble"></span>
          {{article.commentCount}}則留言
        </a>
      </div>
    </div>
  </div>}
</div>
<!-- 文章列終點 -->







<!-- 檢舉彈窗 -->
<div class="modal fade" id="ReportBackdrop" data-bs-backdrop="static" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">檢舉文章「{{reportTarget?.title}}」</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="ReportFormReset()"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="mb-3">
            <div class="row">
              <div class=" col-6">
              </div>
              <form [formGroup]="reportForm">
                <div class=" col-6">
                  <label class="form-label">違規類型</label>
                  <select formControlName="violationType" class="form-select">
                    <option value="" disabled selected>請選擇違規類型</option>
                    <option value="1">我就是不喜歡</option>
                    <option value="2">霸凌或擾人的聯繫</option>
                    <option value="3">自殺、自殘或飲食失調</option>
                    <option value="4">暴力、仇恨或剝削</option>
                    <option value="5">販售或推廣管制商品</option>
                    <option value="6">裸露或性行為</option>
                    <option value="7">詐騙、詐欺或垃圾訊息</option>
                    <option value="8">不實資訊</option>
                    <option value="9">智慧財產權</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">詳細說明</label>
                  <textarea formControlName="reportDetails" class="form-control" id="ReportDetails" rows="3"></textarea>
                </div>
              </form>
              <div class="mb-3">
                <label for="formFile" class="form-label" #fileInput>上傳圖片</label>
                <input type="file" class="form-control" (change)="onFileChange($event)">
              </div>
              <!-- <div><img [src]="reportPhotoView"></div> -->
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-danger" (click)="ReportArticle()">檢舉</button>
          </div>
        </div>
      </div>
    </div>