<app-create-article-button></app-create-article-button>
<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <!-- 內文區在這 -->

        <div class="single-post row">
          <!-- 圖片輪播組件 -->
          <div class="col-lg-12">
            <div class="feature-img">
              <div class="mb-3">
                <div class="custom-slider-container">
                  <div class="main-display cover-upload-container">
                    <img class="img-fluid fade-in" [src]="allPhotoList[selectedIndex]">
                  </div>
                  @if(allPhotoList.length>1){
                  <div class="thumb-nav">
                    @for (img of allPhotoList; track $index) {
                    <div class="thumb-item" [class.active]="$index === selectedIndex" (click)="setIndex($index)">
                      <img [src]="img">
                    </div>
                    }
                  </div>
                  }

                </div>
              </div>
            </div>
          </div>
          <!-- 標籤 -->
          <ul class="tags">
            @for (tag of TagsList; track $index)
            {
            <li>
              <a class="tag-btn" (click)="seachTag(tag)">
                <i [class]="tag.icon"></i>&nbsp;{{tag.tagName}}
              </a>
            </li>
            }
          </ul>
          <!-- 左欄文章詳情 -->
          <div class="col-lg-3  col-md-3 meta-details">
            <div class="user-details row">
              <!-- 地區 -->
              <a class="other-item">{{post?.regionName}}<i class="ri-map-pin-line"></i></a>
              <!-- 時間 -->
              <a> {{post?.createdAt | date:'M月d日 y年':'zh-Hant'}}<span class="lnr lnr-calendar-full"></span></a>
              <!-- 點讚 -->
              <a class="like-item" [class.liked]="post?.isLike" (click)="ToLike(id)">
                {{post?.likeCount}}
                <i [class]="post?.isLike ? 'fa-solid fa-thumbs-up' : 'fa-regular fa-thumbs-up'"></i>
              </a>
              <!-- 收藏 -->
              <a class="collect-item" [class.collect]="post?.isCollect" (click)="ToCollect(id)">
                {{post?.isCollect ? "已收藏":"收藏"}}
                <i [class]="post?.isCollect ? 'ri-bookmark-3-fill' : 'ri-bookmark-line'"></i>
              </a>
              <!-- 留言 -->
              <a class="other-item">{{post?.commentCount}}則留言 <span class="lnr lnr-bubble"></span></a>
              <!-- 更多 -->
              <div class="post-location">
                <button class="btn-more"><i class="ri-more-fill"></i></button>
              </div>
            </div>
          </div>
          <!-- 文章標題&內容 -->
          <div class="col-lg-9 col-md-9">
            <h3 class="mt-20 mb-20">{{post?.title}}</h3>
            <div class="excert" [innerHTML]="post?.contents">
              {{post?.contents}}
            </div>

          </div>
        </div>
        <!-- 內文區結束 -->
        <!-- 引用的站內連結 -->
        @if(product != null){
        <div class="quotes" (click)="goToDetail(product) ">
          <img class="product-img" [src]="product.imageUrl"><img>
          <h3>{{product.title}}</h3>
          查看詳情
        </div>
        }

        <app-comments-area [id]="id" [commentCount]="post?.commentCount?? 0"></app-comments-area>
      </div>


      <!-- 側欄起點 -->
      <div class="col-lg-4 sidebar-widgets">
        <div class="widget-wrap">
          @if (post?.authorID) {
          <app-author-info-sidebar [authorID]="post?.authorID"></app-author-info-sidebar>}
          <app-popular-post></app-popular-post>

          <app-post-catgories></app-post-catgories>
          <div class="single-sidebar-widget ads-widget">
            <a href="#"><img class="img-fluid" src="img/blog/ads-banner.jpg" alt=""></a>
          </div>
        </div>
      </div>
      <!-- 側欄終點 -->



      <!-- <div class="col-lg-4 sidebar-widgets" app-sidebar [post]="post"></div> -->
    </div>
  </div>
</section>
<!-- End post-content Area -->