<!-- 文章列起點 -->
<div class="container mt-5 col-6">

  @for (article of articleList; track $index) {<div class="single-post border-bottom">
    <!-- 作者 + 地點 -->
    <div class="post-author-row">
      <div class="author-info" (click)="goToMemderPage(article.userID)">
        <img class="userAvatar" [src]="article.userAvatar">
        <div>
          <div class="author-name">{{article.userName}}</div>
          <div class="author-date">
            {{article.createdAt | date:'M月d日 y年':'zh-Hant'}}
          </div>
        </div>
      </div>
      <div class="post-location">
        <i class="ri-map-pin-line"></i>地點
      </div>
    </div>

    <!-- 大圖，無圓角 -->
    <div class="post-cover">
      <img [src]="article.photoUrl" (click)="goToDetail(article.articleId)">
    </div>
    <!-- 標題 -->
    <a class="posts-title" (click)="goToDetail(article.articleId)">
      <h3>
        <span class="post-type">討論</span>
        {{article.title}}
      </h3>
    </a>


    <!-- 底列：編輯 | 讚 留言 -->
    <div class="post-footer">
      <!-- 標籤 -->
      <div class="post-tags">
        <span class="tags-label">相關標籤:</span>
        @for (tag of article.tags; track tag.tagId) {
        <button class="btn btn-danger btn-sm">
          {{AllTags.find(t => t.tagId === tag.tagId)?.tagName}}
        </button>
        }
      </div>


      <!-- <button type="button" class="btn btn-outline-danger btn-sm"
            (click)="goToUpdate(article.articleId)">編輯貼文</button> -->
      <div class="post-reactions">
        <a class="reaction-item" [class.liked]="article.isLike" (click)="ToLike(article.articleId)">
          <i [class]="article.isLike ? 'fa-solid fa-thumbs-up' : 'fa-regular fa-thumbs-up'"></i>
          {{article.likeCount}}
        </a>
        <a class="reaction-item" href="#">
          <span class="lnr lnr-bubble"></span>
          N則留言
        </a>

      </div>

    </div>




  </div>}
</div>

<!-- 文章列終點 -->