<app-create-article-button></app-create-article-button>
<div class="host-body">

  <div class="container">
    <!-- 搜尋起點 -->
    <div class="row my-5">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="col-5">
          <div class="search-form">
            <div class="search-group">
              <!-- 進階搜尋按鈕（左） -->
              <a class="advanced-search-btn" (click)="toggleAdvancedSearch()">
                <i class="fa" [class.fa-sliders]="!showAdvancedSearch" [class.fa-times]="showAdvancedSearch"></i>
                {{ showAdvancedSearch ? '收起' : '進階搜尋' }}
              </a>

              <!-- 搜尋框（右） -->
              <div class="search-box" [class.focused]="isFocused">
                <input placeholder="搜尋文章" name="search" type="text" (focus)="onFocus($event)" (blur)="onBlur($event)"
                  (input)="searchByKeyword($event)">
                <button type="button" (click)="onSeach()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>


          </div>
        </div>
        <div class="col-10">
          <!-- 手風琴內容 -->
          <div class="advanced-search-panel" [class.show]="showAdvancedSearch">
            <div class="accordion-body">
              <!-- 文章&作者 輸入框並排 -->
              <div class="row g-3">
                <div class="col-md-6">
                  <label class="form-label">文章搜尋</label>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="Keyword"
                    placeholder="搜尋文章標題、關鍵字…">
                </div>

                <div class="col-md-6">
                  <label class="form-label">作者</label>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="AuthorKeyword"
                    placeholder="作者關鍵字">
                </div>
              </div>

              <!-- 日期 地點 -->
              <div class="row g-3">
                <!-- 日期 -->
                <div class="col-md-4">
                  <label class="form-label">日期</label>
                  <input #datePicker type="text" class="form-control form-control-sm" placeholder="選擇日期">
                </div>

                <!-- 縣市 -->
                <div class="col-md-4">
                  <label class="form-label">縣市</label>
                  <div class="default-select">
                    <select id="region-select" class="form-select form-select-sm">
                      <option [value]="null">請選擇縣市</option>
                      @for (city of regions; track city.regionId) {
                      <option [value]="city.regionId">{{ city.regionName }}</option>
                      }
                    </select>
                  </div>
                </div>

                <!-- 鄉鎮市區 -->
                <div class="col-md-4">
                  <label class="form-label">鄉/鎮/市/區</label>
                  <div class="default-select">
                    <select id="dist-select" class="form-select form-select-sm">
                      <option [value]="null">請選擇鄉鎮市區</option>
                      @for (dist of districts; track dist.regionId) {
                      <option [value]="dist.regionId">{{ dist.regionName }}</option>
                      }
                    </select>
                  </div>
                </div>
              </div>
              <button class="sb-btn" (click)="onSeach()">搜尋</button>
              <button class="sb-btn" (click)="onBackSeach()">取消搜尋</button>

              <button class="sb-reset" (click)="onSeachReset()">清空搜尋</button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center gap-3">
      @if (isSearch) {
      <span>共{{totalCount}}筆資料</span>
      <span (click)="ReflashArticles(1)">_返回</span>
      }
    </div>

    <!-- 搜尋終點 -->

    <div class="row my-container">
      <app-article-list class="col-lg-8" [articleList]="articleList"
        (tagSelected)="onTagSelected($event)"></app-article-list>
      <!-- 側欄起點 -->
      <div class="col-lg-4 sidebar-widgets">
        <div class="widget-wrap">
          <app-popular-post></app-popular-post>
          <app-tag-clouds (tagSelected)="onTagSelected($event)"></app-tag-clouds>
          <app-post-catgories></app-post-catgories>
          <div class="single-sidebar-widget ads-widget">
            <a href="#"><img class="img-fluid" src="img/blog/ads-banner.jpg" alt=""></a>
          </div>
        </div>
      </div>
      <!-- 側欄終點 -->
    </div>
  </div>

  <app-page-number-list [totalCount]="totalCount" [currentPage]="currentPage"
    (pageChanged)="ReflashArticles($event)"></app-page-number-list>
</div>





















<!-- <section id="blog-posts" class="blog-posts section">

  <div class="container">
    <div class="row">
      @for (article of articleList; track $index) {
      <div class="col-lg-3 mb-5">
        <article class="position-relative h-100">
          <div class="post-img position-relative overflow-hidden">
            <img [src]="article.photoUrl" class="img-fluid img-fixed-sizeB" alt="">
          </div>

          <div class="meta d-flex align-items-end">
            <span class="post-date">
              <h6>討論</h6>
            </span>
            <div class="d-flex align-items-center">
              <i class="bi bi-person"></i> <span class="ps-2">John Doe</span>
            </div>
            <span class="px-3 text-black-50">/</span>
            <div class="d-flex align-items-center">
              <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
            </div>
          </div>

          <div class="post-content d-flex flex-column">
            <h3 class="post-title">{{article.title}}</h3>
            <a href="" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

        </article>
      </div>
      }
    </div>
  </div>
</section> -->
<!-- End post list item -->
<!-- https://bootstrapmade.com/content/demo/TravelTime/blog-details.html -->