<button class="float-btn" (click)="goToCreate()">
  <i class="fa fa-plus"></i>
  <span class="btn-text">新增文章</span>
</button>

<section class="post-content-area">
  <div class="container">
    <!-- 搜尋起點 -->
    <div class="row my-5">
      <div class="d-flex justify-content-center align-items-center">
        <div class="col-5">
          <div class="search-form" (submit)="$event.preventDefault()">
            <div class="search-box">
              <input placeholder="搜尋文章" name="search" type="text" (focus)="onFocus($event)" (blur)="onBlur($event);"
                (input)="onSeach($event)">
              <button type="button"><i class="fa fa-search"></i></button>
            </div>
            <!-- <ul class="my-dropdown-menu">
            @for(tag of filteredTags; track tag.tagId) {
            <li class="dropdown-item" (click)="addTag(tag.tagId); $event.stopPropagation()">{{ tag.tagName }} <i
                class="ri-add-large-line"></i>
            </li>
            }
          </ul> -->
          </div>
        </div>
        <a href="#" class="genric-btn primary-border circle">進階搜尋</a>
      </div>
    </div>
    <!-- 搜尋終點 -->

    <div class="row">
      <app-article-list class="col-lg-8" [articleList]="articleList"></app-article-list>



      <!-- 側欄起點 -->
      <div class="col-lg-4 sidebar-widgets">
        <div class="widget-wrap">
          <app-popular-post></app-popular-post>
          <app-tag-clouds></app-tag-clouds>
          <app-popular-post></app-popular-post>
          <div class="single-sidebar-widget ads-widget">
            <a href="#"><img class="img-fluid" src="img/blog/ads-banner.jpg" alt=""></a>
          </div>
        </div>
      </div>
      <!-- 側欄終點 -->
    </div>
  </div>

  <nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
      <li class="page-item">
        <a href="#" class="page-link" aria-label="Previous">
          <span aria-hidden="true">
            <span class="lnr lnr-chevron-left"></span>
          </span>
        </a>
      </li>


      @for (p of pageNumbers; track p) {
      <li class="page-item" [class.active]="currentPage === p">
        <a href="#" class="page-link" (click)="changePage(p, $event)">{{p}}</a>
      </li>
      }

      <!-- <li class="page-item"><a href="#" class="page-link">01</a></li>
            <li class="page-item active"><a href="#" class="page-link">02</a></li>
            <li class="page-item"><a href="#" class="page-link">03</a></li>
            <li class="page-item"><a href="#" class="page-link">04</a></li>
            <li class="page-item"><a href="#" class="page-link">09</a></li> -->

      <li class="page-item">
        <a href="#" class="page-link" aria-label="Next">
          <span aria-hidden="true">
            <span class="lnr lnr-chevron-right"></span>
          </span>
        </a>
      </li>
    </ul>
  </nav>
</section>
































<!-- <section id="blog-posts" class="blog-posts section">

  <div class="container">
    <div class="row">
      @for (article of articleList; track $index) {
      <div class="col-lg-3 mb-5">
        <article class="position-relative h-100">
          <div class="post-img position-relative overflow-hidden">
            <img [src]="article.photoUrl" class="img-fluid img-fixed-sizeB" alt="">
          </div>

          <div class="meta d-flex align-items-end">
            <span class="post-date">
              <h6>討論</h6>
            </span>
            <div class="d-flex align-items-center">
              <i class="bi bi-person"></i> <span class="ps-2">John Doe</span>
            </div>
            <span class="px-3 text-black-50">/</span>
            <div class="d-flex align-items-center">
              <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
            </div>
          </div>

          <div class="post-content d-flex flex-column">
            <h3 class="post-title">{{article.title}}</h3>
            <a href="" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

        </article>
      </div>
      }
    </div>
  </div>
</section> -->
<!-- End post list item -->
<!-- https://bootstrapmade.com/content/demo/TravelTime/blog-details.html -->