<div class="single-sidebar-widget popular-post-widget">
  <h4 class="popular-title"><i class="bi bi-fire"></i> 熱門文章</h4>
  <div class="popular-post-list">
    @for (article of articleSamples; track $index) {
    <div class="single-post-list d-flex flex-row align-items-center">
      <div class="">
        <img class="img-fluid-size" [src]="article.photoUrl" alt="">
      </div>
      <div class="details">
        <a (click)="goToDetail(article.articleId,article.type)">
          <h6>{{article.title}}</h6>
        </a>
        <p>{{article.author}}</p>
      </div>
    </div>
    }
  </div>
</div>