<div class="single-sidebar-widget popular-post-widget">
  <h4 class="popular-title"><i class="bi bi-fire"></i> 熱門文章</h4>
  <div class="popular-post-list">
    @for (article of articleSamples; track $index) {
    <div class="single-post-list d-flex flex-row align-items-center">
      <div class="thumb">
        <img class="img-fluid img-fluid-size" [src]="article.cover" alt="">
      </div>
      <div class="details">
        <a href="blog-single.html">
          <h6>{{article.title}}</h6>
        </a>
        <p>{{article.creatat| date:'M月d日 y年':'zh-Hant'}}</p>
      </div>
    </div>
    }
  </div>
</div>