<div class="single-sidebar-widget user-info-widget">
  <img [src]="post?.avatarUrl" class="user-info rounded-circle" alt="">
  <a href="#">
    <h4>{{post?.authorName}}</h4>
  </a>
  <p>&nbsp;</p>
  @if(1==1){
  <a class="genric-btn primary radius">已追蹤</a>
  }
  @else{
  <a href="#" class="genric-btn primary-border radius">追蹤</a>
  }

  <!-- <p>
    Senior blog writer
  </p> -->
  <!-- <ul class="social-links">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-github"></i></a></li>
    <li><a href="#"><i class="fa fa-behance"></i></a></li>
  </ul> -->
  <!-- <p>
    Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to
    spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.
  </p> -->
</div>