<!-- 留言區在這 -->
<div class="comments-area">
  <h4>{{commentCount}}條留言</h4>
  @for (comment of commentList; track $index) {
  <div class="comment-list">
    <div class="single-comment justify-content-between d-flex" style="position: relative;">
      <div class="user justify-content-between d-flex">
        <div class="thumb">
          <img [src]="comment.avatarUrl" class="avatar">
        </div>
        <div class="desc">
          <h5><a href="#">{{comment.authorName}}</a></h5>
          <p class="date">{{comment.createdAt}}</p>
          <p class="comment">
            {{comment.contents}}
          </p>
          @if(comment.commentPhoto){
          <img class="comment-photo" [src]="comment.commentPhoto">
          }
        </div>
      </div>
      <div class="btn-comment-group">
        <button data-bs-toggle="dropdown" aria-expanded="false"><i class="ri-more-2-fill"></i></button>
        <button (click)="setParent(comment.commentId,comment.authorName,comment.contents)"><i
            class="ri-reply-line"></i></button>
        <button (click)="ToLike(comment.commentId)">
          @if (comment.isLiked) {
          <i class="fa-solid fa-thumbs-up"></i>
          }
          @else {
          <i class="bi bi-hand-thumbs-up"></i>
          }
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">分享留言</a></li>
          <li><a class="dropdown-item" href="#">複製留言</a></li>
          @if(true){
          <li><a class="dropdown-item" (click)="deleteComment(comment.commentId)">刪除</a></li>
          }
          @else {
          <li><a class="dropdown-item">檢舉</a></li>
          }
        </ul>
      </div>
    </div>
  </div>


  <!-- 子留言 -->
  @for (reply of comment.replyComments; track $index) {
  <div class="comment-list left-padding" style="position: relative;">
    <div class="single-comment justify-content-between d-flex">
      <div class="user justify-content-between d-flex">
        <div class="thumb">
          <img [src]="reply.avatarUrl" class="avatar">
        </div>
        <div class="desc">
          <h5><a>{{reply.authorName}}</a></h5>
          <p class="date">{{reply.createdAt}}</p>
          <p class="comment">
            {{reply.contents}}
          </p>
          @if(reply.commentPhoto){
          <img class="comment-photo" [src]="reply.commentPhoto">
          }
        </div>
      </div>
      <div class="btn-comment-group">
        <button><i class="ri-more-2-fill"></i></button>
        <button><i class="bi bi-hand-thumbs-up"></i></button>
      </div>
    </div>
  </div>
  }
  }

  <!-- 以下為發佈留言 -->
  <div class="comment-form">
    <h4 style="margin-bottom: 10px;">請留言</h4>
    <div class="d-flex justify-content-start">
    </div>
    <form>
      <div class="form-group form-inline">
        <div class="form-group">
          <!-- 上傳區 -->
          <div class="form-control p-0 mb-10" style="overflow: visible;">
            <!-- 上方工具列 -->
            <div class="d-flex align-items-center px-3 py-2 border-bottom">
              @if(parentComment){
              <span class="close-circle" (click)="removeParent()">
                <i class="ri-close-circle-line default-icon"></i>
                <i class="ri-close-circle-fill hover-icon"></i>
              </span>&nbsp;
              <span>{{parentComment}}</span>
              }
              @if(selectedImage){
              <span class="preview-wrapper ms-auto">
                <span class="remove-image" (mouseenter)="showPreview = true" (mouseleave)="showPreview = false"
                  (click)="removeImage()">
                  <i class="ri-close-circle-fill"></i>
                  取消附圖
                  @if (showPreview) {
                  <div class="preview-popup">
                    <img [src]="selectedImage">
                  </div>
                  }
                </span></span>}
              @else{
              <label class="ms-auto" style="cursor: pointer;">
                <i class="ri-image-add-fill"></i> 新增圖片
                <input type="file" (change)="onFileSelected($event)" accept="image/*" class="visually-hidden">
              </label>
              }

            </div>
            <!-- 原本的 textarea -->
            <textarea class="border-0 w-100 p-3" rows="5" name="message" placeholder="留下一句話..."
              onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required="" [(ngModel)]="contents"
              style="outline: none; resize: none;"></textarea>

          </div>
        </div>
        <a (click)="postComment(contents)" class="primary-btn text-uppercase">送出</a>
      </div>
    </form>
  </div>