.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  /* 關鍵：等比例縮放並裁切，不變形 */
  object-position: center;
  /* 從圖片中心點裁切 */
}

.close-circle {
  font-size: 16px;
  cursor: pointer;
}

.close-circle .hover-icon {
  display: none;
  color: #f44a40;
}

.close-circle:hover .default-icon {
  display: none;
}

.close-circle:hover .hover-icon {
  display: inline;
}

.remove-image:hover {
  color: #f44a40;
}


/* ===留言回復操作按鈕樣式=== */
.btn-comment-group {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin: 20px auto;
  width: fit-content;
  height: 40px;
}

.btn-comment-group button {
  border-radius: 0;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 14px;
  text-decoration: none;
  background-color: transparent;
  color: #777;
  padding: 8px 10px;
  border: none;
}

.btn-comment-group button:hover {
  color: #38a4ff;
  background-color: transparent;
}

/* === 留言附圖漂浮框 === */
.preview-wrapper {
  position: relative;
  cursor: pointer;
}

.preview-popup img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  display: block;
}

.preview-popup {
  position: absolute;
  bottom: calc(100% + 12px);
  /* left: 50%; */
  background: #fff;
  padding: 6px;
  z-index: 999;
  box-shadow: 2px 2px 3px #27272721;
}

.comment-photo {
  width: 350px;
  height: 240px;
  object-fit: cover;
  display: block;
}


.float-btn {
  position: fixed;
  bottom: 30px;
  left: 50px;
  z-index: 999;
  width: 50px;
  height: 20px;
  border-radius: 999px;
  border: 1px dashed #00000057;
  background-color: transparent;
  color: #00000057;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}